{% load i18n %}
<h1>{% translate "Form submission" %}</h1>
<p>{% if user.is_authenticated %}{% translate "by" %} {{ user.first_name }} {{ user.last_name }} ({{ user.username }}){% else %}{% translate "by anonymous" %}{% endif %}</p>
<table>
    <thead>
    <tr>
        <th>{% translate "Field" %}</th>
        <th>{% translate "Value" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for field in form_entry.get_mail_data %}
    <tr>
        <td>{{ field.label }}</td>
        <td>
            {% if field.files %}
                {% for file in field.files %}
                    <a href="{{ file.url }}">{{ file.filename }}</a>{% if not forloop.last %}<br>{% endif %}
                {% endfor %}
            {% else %}
                {{ field.value }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td>{% translate "time" %}</td>
        <td>{% now "H:i d/m/Y" %}</td>
    </tr>
    <tr>
        <td>{% translate "user agent" %}</td>
        <td>{{ user_agent }}</td>
    </tr>
    <tr>
        <td>{% translate "referer" %}</td>
        <td>{{ referer }}</td>
    </tr>
    </tbody>
</table>

